## Step 1. Kick-off meeting with management

Imagine you work for a company that builds ships and wants to investigate the Titanic tragedy to improve their designs. They aim to ensure that in emergencies, all passengers, regardless of class and age, have equal access to emergency exits and equipment. The team suspects that higher-class passengers on the Titanic had higher survival chances, and wants you to visualize the data to verify this suspicion.

M: Hey Alex! How are you?

A: Hey! I am fine you?

...little chat

M: Titanic tragedy...

M: So we are trying to understand whether there was a problem with how cabins on Titanic were built. To understand that we would like to see if survival rate has anything to do with passenger class.

A: Am I understanding correctly, your goal is to see which passenger class had how many people survived? And you would like to see if there is any difference among the passenger classes in terms of survival rate?

M: Yes, you are correct.

A: Ok, would that be ok if we show a bar plot where you would have all the
classes on the X-axis and the number of people who survived on the Y-axis? Also, we add another bar plot, where we show the survival rate in % for each of the passenger classes.

M: Yes, that would be great.

A: Would you like to have any filters on the data? For example, would you like to be able to filter data by age? This might help you understand if the difference between classes grows or shrinks for older people or children, who might be more vulnerable.

M: Yes, please. This makes sense.

Ohh, one more thing. Let us also have one more visual for different age categories, so I can clearly see the difference. Children, adults, and seniors. We would like to see that to have a broader picture on the survival rates, since age is certainly a factor.

A: Ok, how would we define these categories? Which age are children, which are adults, and which are seniors?

M: Please, you figure that out and suggest it during the next meeting.

A: Ok, let us quickly document the task.

## Step 2. Documenting a task during a meeting

### Meeting documentation template

**Goal**: See is survivial rate had anything to do with passenger class. Also, assess the age of the passengers within each class to identify vulnerable age categories.

**Visualisation**
(bar, pie, column etc.):
- Bar plot 1
  - Numeric column and aggregation (sum, percentage etc.):
  Survived - sum
  - Categorical column: Pclass
  - Active filters: Age

- Bar plot 2
  - Numeric column and aggregation (sum, percentage etc.):
  Survived percentage
  - Categorical column: Pclass
  - Active filters: Age

- Bar plot 3
  - Numeric column and aggregation (sum, percentage etc.):
  Survived percentage
  - Categorical column 1: Pclass
  - Categorical column 2: Age (children, adults, seniors)
  - Active filters: None

In [3]:
import pandas as pd
import gdown

In [4]:
#@title Step 1. Ask a data engeneer to prepare the data for you
# File ID from the Google Drive link
file_id = '15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C'

download_url = f'https://drive.google.com/uc?id={file_id}'

# Download the file
output_file = 'downloaded_file.csv'
gdown.download(download_url, output_file, quiet=False)

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(output_file)

# Assuming ipython-sql is installed
%load_ext sql

# Use a file-based SQLite database
database_filename = 'my_database.db'
df.to_sql('titanic_data', f'sqlite:///{database_filename}', if_exists='replace', index=False)

# Now connect ipython-sql to the same file-based database
%sql sqlite:///my_database.db

Downloading...
From: https://drive.google.com/uc?id=15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C
To: /Users/teshz/Desktop/Data_science/python/Project Tytanic/downloaded_file.csv
100%|███████████████████████████████████████| 61.2k/61.2k [00:00<00:00, 499kB/s]

In [5]:
#@title Step 2. SQL — Query the data
# Query the data to see if it works

project_data = %sql select Survived, Pclass, Age from titanic_data;

 * sqlite:///my_database.db
Done.

In [6]:
#@title Step 3. Python

# Get the data to Python environment

df = pd.DataFrame(project_data)

df.head()

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0

In [7]:
print('Basic information: ')
print(df.info())

print('\nSummary Statistics: ')
print(df.describe())

print('\nNumber of missing values')
print(df.isnull().sum())

Basic information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB
None

Summary Statistics:
         Survived      Pclass         Age
count  891.000000  891.000000  714.000000
mean     0.383838    2.308642   29.699118
std      0.486592    0.836071   14.526497
min      0.000000    1.000000    0.420000
25%      0.000000    2.000000   20.125000
50%      0.000000    3.000000   28.000000
75%      1.000000    3.000000   38.000000
max      1.000000    3.000000   80.000000

Number of missing values
Survived      0
Pclass        0
Age         177
dtype: int64

In [8]:
#fill missing values in age column by mean of column
age_mean = df['Age'].mean()
df['Age'].fillna(age_mean, inplace=True)

#check
print(df['Age'].isnull().sum())

0

/var/folders/03/py89ssjx1110z55j44c3sbfc0000gn/T/ipykernel_15296/2420191929.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_mean, inplace=True)

In [9]:
df['Age'] = df['Age'].round()
df.describe()

         Survived      Pclass         Age
count  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.754209
std      0.486592    0.836071   13.000828
min      0.000000    1.000000    0.000000
25%      0.000000    2.000000   22.000000
50%      0.000000    3.000000   30.000000
75%      1.000000    3.000000   35.000000
max      1.000000    3.000000   80.000000

In [10]:
#create a category column to recognize age by category
def Age_Category_Def(age):
  if age <= 14:
    return 'Children'
  elif 15 <= age <= 64:
    return 'Youth&Adults'
  else:
    return 'Seniors'


df['Age_Category'] = df['Age'].apply(Age_Category_Def)

df['Age_Category'].value_counts()

Age_Category
Youth&Adults    802
Children         78
Seniors          11
Name: count, dtype: int64

In [11]:
df.to_excel('output.xlsx', index=False)

In [12]:
#@title Tableau Dashboard
from IPython.display import HTML

HTML("""
<div class='tableauPlaceholder' id='viz1724321175284' style='position: relative'><noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;69&#47;69C5QKG6B&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;69C5QKG6B' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;69&#47;69C5QKG6B&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1724321175284');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1024px';vizElement.style.height='795px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1024px';vizElement.style.height='795px';} else { vizElement.style.width='100%';vizElement.style.height='1377px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
""")

[Link Tableau](https://public.tableau.com/shared/69C5QKG6B?:display_count=n&:origin=viz_share_link)

**Goal**: See is survivial rate had anything to do with passenger class. Also, assess the age of the passengers within each class to identify vulnerable age categories.

**Assessment**: Survived and survived % by passenger class: On this visualistion we see, that passenger class have impact to survived %. Pclass1 is 63% survived, pclass2 47%, pclass3 24%.